# Analisis del dataset

* rank: rango del youtuber (ordenado por suscriptores)
* youtuber: nombre del youtuber
* subscribers: numero de suscriptores
* video views: total de vistas del video
* video count: numero de videos subidos
* category: categoria del video
* started: año de inicio

## Importar librerias necesarias

In [6]:
#Datos
import numpy as np
import pandas as pd

#Visualizacion
import plotly.express as px

## Leer el Dataset

In [7]:
data = pd.read_csv('./data/most_subscribed_youtube_channels.csv')
data.head()

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013

## Limpieza de datos

In [8]:
data

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013
...,...,...,...,...,...,...,...
995,996,JP Plays,"10,900,000","4,609,300,218","3,528",Gaming,2014
996,997,TrapMusicHDTV,"10,900,000","4,070,521,973",690,Music,2013
997,998,Games EduUu,"10,900,000","3,093,784,767","1,006",Gaming,2011
998,999,Hueva,"10,900,000","3,040,301,750",831,Gaming,2012
999,1000,Dobre Brothers,"10,900,000","2,808,411,693",590,People & Blogs,2017

Para nuestro analisis tomaremos los primeros 100 datos unicamente

In [11]:
df = data[0:100]
df

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013
...,...,...,...,...,...,...,...
95,96,Mikecrack,"33,500,000","13,775,632,479","1,727",Gaming,2015
96,97,VEGETTA777,"33,400,000","14,948,682,643","7,130",Gaming,2008
97,98,Ultra Bollywood,"33,400,000","15,508,274,562","9,078",Trailers,2009
98,99,Markiplier,"33,300,000","18,701,808,550","5,200",Gaming,2012
99,100,YouTube,"33,300,000","2,725,286,912",540,News & Politics,1970

Verificamos si existen valores nulos en las columnas

In [16]:
df.isnull().sum()

rank           0
Youtuber       0
subscribers    0
video views    0
video count    0
category       0
started        0
dtype: int64

Estos valores nulos no aportan nada, asi que los elimine

In [17]:
df.dropna(axis=0,inplace=True)

C:\Users\Jorge Hdz\AppData\Local\Temp\ipykernel_11324\2311172004.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
df.shape

(96, 7)

Nombre columnas y sus respectivos tipos

In [20]:
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'video count',
       'category', 'started'],
      dtype='object')

In [21]:
df.dtypes

rank            int64
Youtuber       object
subscribers    object
video views    object
video count    object
category       object
started         int64
dtype: object

Cambiamos los tipos de las diferentes columnas de acuerdo al tipo correcto y quitamos las comas entre los datos de tipo numerico

In [22]:
df['subscribers'] = df['subscribers'].str.replace(',','')
df['subscribers'] = df['subscribers'].astype('int64')

df['video views'] = df['video views'].str.replace(',','')
df['video views'] = df['video views'].astype('int64')

df['video count'] = df['video count'].str.replace(',','')
df['video count'] = df['video count'].astype('int')

ValueError: invalid literal for int() with base 10: '222,000,000'