# Analisis del dataset

* rank: rango del youtuber (ordenado por suscriptores)
* youtuber: nombre del youtuber
* subscribers: numero de suscriptores
* video views: total de vistas del video
* video count: numero de videos subidos
* category: categoria del video
* started: a√±o de inicio

## Importar librerias necesarias

In [2]:
#Datos
import numpy as np
import pandas as pd

#Visualizacion
import plotly.express as px

In [5]:
data = pd.read_csv('./data/most_subscribed_youtube_channels.csv')
data.head()

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013