# Analisis del dataset

* rank: rango del youtuber (ordenado por suscriptores)
* youtuber: nombre del youtuber
* subscribers: numero de suscriptores
* video views: total de vistas del video
* video count: numero de videos subidos
* category: categoria del video
* started: año de inicio

## Importar librerias necesarias

In [6]:
#Datos
import numpy as np
import pandas as pd

#Visualizacion
import plotly.express as px

## Leer el Dataset

In [7]:
data = pd.read_csv('./data/most_subscribed_youtube_channels.csv')
data.head()

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013

## Limpieza de datos

In [8]:
data

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013
...,...,...,...,...,...,...,...
995,996,JP Plays,"10,900,000","4,609,300,218","3,528",Gaming,2014
996,997,TrapMusicHDTV,"10,900,000","4,070,521,973",690,Music,2013
997,998,Games EduUu,"10,900,000","3,093,784,767","1,006",Gaming,2011
998,999,Hueva,"10,900,000","3,040,301,750",831,Gaming,2012
999,1000,Dobre Brothers,"10,900,000","2,808,411,693",590,People & Blogs,2017

Para nuestro analisis tomaremos los primeros 100 datos unicamente

In [11]:
df = data[0:100]
df

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,"222,000,000","198,459,090,822","17,317",Music,2006
1,2,YouTube Movies,"154,000,000",0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,"140,000,000","135,481,339,848",786,Education,2006
3,4,SET India,"139,000,000","125,764,252,686","91,271",Shows,2006
4,5,Music,"116,000,000",0,0,NaN,2013
...,...,...,...,...,...,...,...
95,96,Mikecrack,"33,500,000","13,775,632,479","1,727",Gaming,2015
96,97,VEGETTA777,"33,400,000","14,948,682,643","7,130",Gaming,2008
97,98,Ultra Bollywood,"33,400,000","15,508,274,562","9,078",Trailers,2009
98,99,Markiplier,"33,300,000","18,701,808,550","5,200",Gaming,2012
99,100,YouTube,"33,300,000","2,725,286,912",540,News & Politics,1970

Verificamos si existen valores nulos en las columnas

In [16]:
df.isnull().sum()

rank           0
Youtuber       0
subscribers    0
video views    0
video count    0
category       0
started        0
dtype: int64

Estos valores nulos no aportan nada, asi que los elimine

In [17]:
df.dropna(axis=0,inplace=True)

C:\Users\Jorge Hdz\AppData\Local\Temp\ipykernel_11324\2311172004.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [19]:
df.shape

(96, 7)

Nombre columnas y sus respectivos tipos

In [20]:
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'video count',
       'category', 'started'],
      dtype='object')

In [21]:
df.dtypes

rank            int64
Youtuber       object
subscribers    object
video views    object
video count    object
category       object
started         int64
dtype: object

Cambiamos los tipos de las diferentes columnas de acuerdo al tipo correcto y quitamos las comas entre los datos de tipo numerico

In [23]:
df['subscribers'] = df['subscribers'].str.replace(',','')
df['subscribers'] = df['subscribers'].astype('int64')

df['video views'] = df['video views'].str.replace(',','')
df['video views'] = df['video views'].astype('int64')

df['video count'] = df['video count'].str.replace(',','')
df['video count'] = df['video count'].astype('int')

C:\Users\Jorge Hdz\AppData\Local\Temp\ipykernel_11324\1696254110.py:1: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jorge Hdz\AppData\Local\Temp\ipykernel_11324\1696254110.py:2: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jorge Hdz\AppData\Local\Temp\ipykernel_11324\1696254110.py:4: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jorge Hdz\AppData\Local\Temp\ipykernel_11324\1696254110.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jorge Hdz\AppData\Local\Temp\ipykernel_11324\1696254110.py:7: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\Jorge Hdz\AppData\Local\Temp\ipykernel_11324\1696254110.py:8: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [24]:
df.head()

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,222000000,198459090822,17317,Music,2006
1,2,YouTube Movies,154000000,0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,140000000,135481339848,786,Education,2006
3,4,SET India,139000000,125764252686,91271,Shows,2006
5,6,PewDiePie,111000000,28469458228,4497,Gaming,2010

## Analisis exploratorio

In [25]:
df

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,222000000,198459090822,17317,Music,2006
1,2,YouTube Movies,154000000,0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,140000000,135481339848,786,Education,2006
3,4,SET India,139000000,125764252686,91271,Shows,2006
5,6,PewDiePie,111000000,28469458228,4497,Gaming,2010
...,...,...,...,...,...,...,...
95,96,Mikecrack,33500000,13775632479,1727,Gaming,2015
96,97,VEGETTA777,33400000,14948682643,7130,Gaming,2008
97,98,Ultra Bollywood,33400000,15508274562,9078,Trailers,2009
98,99,Markiplier,33300000,18701808550,5200,Gaming,2012
99,100,YouTube,33300000,2725286912,540,News & Politics,1970

In [26]:
df.head(10)

,rank,Youtuber,subscribers,video views,video count,category,started
0,1,T-Series,222000000,198459090822,17317,Music,2006
1,2,YouTube Movies,154000000,0,0,Film & Animation,2015
2,3,Cocomelon - Nursery Rhymes,140000000,135481339848,786,Education,2006
3,4,SET India,139000000,125764252686,91271,Shows,2006
5,6,PewDiePie,111000000,28469458228,4497,Gaming,2010
6,7,MrBeast,102000000,16832456681,726,Entertainment,2012
7,8,✿ Kids Diana Show,99700000,79602288245,1009,People & Blogs,2015
8,9,Like Nastya,99200000,81963845811,702,People & Blogs,2016
10,11,WWE,90200000,70544743313,63077,Sports,2007
11,12,Zee Music Company,86700000,49067711243,6603,Music,2014

In [27]:
df.dtypes

rank            int64
Youtuber       object
subscribers     int64
video views     int64
video count     int32
category       object
started         int64
dtype: object

In [28]:
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'video count',
       'category', 'started'],
      dtype='object')

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 96 entries, 0 to 99
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   rank         96 non-null     int64
 1   Youtuber     96 non-null     object
 2   subscribers  96 non-null     int64
 3   video views  96 non-null     int64
 4   video count  96 non-null     int32
 5   category     96 non-null     object
 6   started      96 non-null     int64
dtypes: int32(1), int64(4), object(2)
memory usage: 5.6+ KB

In [30]:
df.describe()

             rank   subscribers   video views    video count      started
count   96.000000  9.600000e+01  9.600000e+01      96.000000    96.000000
mean    51.427083  5.417292e+07  2.867824e+10   14459.968750  2010.666667
std     28.534280  2.950038e+07  2.846583e+10   37858.809413     5.596365
min      1.000000  3.330000e+07  0.000000e+00       0.000000  1970.000000
25%     27.750000  3.735000e+07  1.509989e+10     400.000000  2007.000000
50%     51.500000  4.360000e+07  2.126899e+10    1158.500000  2011.000000
75%     75.250000  5.762500e+07  2.868846e+10    4705.000000  2014.000000
max    100.000000  2.220000e+08  1.984591e+11  196497.000000  2018.000000

In [31]:
df.nunique()

rank           96
Youtuber       96
subscribers    85
video views    96
video count    96
category       13
started        15
dtype: int64

## Visualizacion de datos

Categorias de los 100 canales top de Youtube

In [32]:
categorias = df['category'].value_counts()
categorias

Music                    32
Entertainment            18
People & Blogs            9
Gaming                    8
Education                 7
Film & Animation          5
Shows                     4
Comedy                    4
Sports                    2
Howto & Style             2
News & Politics           2
Trailers                  2
Nonprofits & Activism     1
Name: category, dtype: int64

In [39]:
fig = px.pie(values = categorias.values,
             names=categorias.index,
             title="Categorias del TOP100 canales de Youtube")

fig.update_traces(textposition='inside',
                  textfont_size=11,
                  textinfo='percent+label')

fig.show()

In [40]:
categorias_full = data['category'].value_counts()
categorias_full

Entertainment            241
Music                    222
People & Blogs           119
Gaming                   102
Comedy                    63
Film & Animation          52
Education                 46
Howto & Style             45
News & Politics           27
Science & Technology      18
Shows                     14
Sports                    10
Pets & Animals             6
Trailers                   2
Nonprofits & Activism      2
Movies                     2
Autos & Vehicles           1
Travel & Events            1
Name: category, dtype: int64

In [41]:
fig = px.pie(values = categorias_full.values,
             names=categorias_full.index,
             title="Categorias de todos los canales de Youtube",
             color_discrete_sequence=px.colors.sequential.RdBu,
             template='presentation')

fig.update_traces(textposition='inside',
                  textfont_size=11,
                  textinfo='percent+label')

fig.show()

**Se puede observar que la relacion entre las 3 principales categorias del TOP100 y de todos los registros son las mismas**

**La diferencia radica en que la categoria musica aumenta considerablemente en los canales del TOP100**